name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: "Test on Linux"
    runs-on: ubuntu-latest
    steps:
    - name: "checkout project"
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: "find latest version of janet"
      uses: oprypin/find-latest-tag@v1
      with:
        repository: janet-lang/janet
        releases-only: true
        prefix: 'v'
      id: janet-ver
    - name: "set prefix"
      shell: bash
      run: echo "PREFIX=$GITHUB_WORKSPACE/.janet" >> $GITHUB_ENV
    - name: "set paths"
      shell: bash
      run: |
        echo "$PREFIX/bin" >> $GITHUB_PATH
        echo "JANET_HEADERPATH=$PREFIX/include" >> $GITHUB_ENV
        echo "JANET_BINPATH=$PREFIX/bin" >> $GITHUB_ENV
        echo "JANET_LIBPATH=$PREFIX/lib" >> $GITHUB_ENV
        echo "JANET_MANPATH=$PREFIX/man" >> $GITHUB_ENV
        echo "JANET_PATH=$PREFIX" >> $GITHUB_ENV
    - name: "make directories"
      shell: bash
      run: mkdir -p $PREFIX
    - name: "download janet"
      shell: bash
      run: curl -LO https://github.com/janet-lang/janet/releases/download/${{ steps.janet-ver.outputs.tag }}/janet-${{ steps.janet-ver.outputs.tag }}-linux-x64.tar.gz
    - name: "extract janet"
      shell: bash
      run: tar -xzf janet-${{ steps.janet-ver.outputs.tag }}-linux-x64.tar.gz --strip-components=2 -C $PREFIX
    - name: "run tests"
      shell: bash
      run: 'for f in test/*.janet; do janet "$f" || { rc=$?; break; }; done; (exit ${rc:-0})'
    - name: "install neovim"
      shell: bash
      run: sudo apt-get update && sudo apt-get install -y neovim
    - name: "run client unit tests"
      shell: bash
      run: ./res/scripts/unit-tests
    - name: "run client system tests"
      shell: bash
      run: ./res/scripts/system-tests
